body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px; /* Match the header height */
    padding-left: 20px; /* Match the header height */
    background-color: #f4f6f9; /* Optional for aesthetics */
    color: #333;
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #009688;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the div horizontally */
    align-items: center;    /* Optional: Center vertically if needed */
    gap: 15px;              /* Add spacing between buttons */
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #009688;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #23a396;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* Modal for full-size image */
#image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#image-modal img {
    max-width: 90%;
    max-height: 90%;
}

#image-modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Add to drive-images.css */

/* Pagination buttons */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #007bff;
    color: white;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equal-width columns */
    gap: 15px; /* Space between grid items */
    margin-top: 20px;
}



.image-cell {
    margin: 10px;
    display: inline-block;
}