/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #009688;
}

form {
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796b;
}

/* Message Styling */
#message {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
}
.signup-link {
    margin-top: 20px;
    font-size: 1rem;
    color: #777;
}

.signup-link a {
    color: #009688;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}