/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

/* Sign-In/Sign-Up Container */
.sign-up-container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #009688;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796b;
}

.google-sign-up {
    margin-top: 20px;
}


.google-sign-up button {
    background-color: #db4437;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.google-btn:hover {
    background-color: #f52804;
}

.google-logo {
    background-color: white;
    color: #db4437;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50%;
    margin-right: 10px;
}


.signin-link {
    margin-top: 20px;
}

.signin-link a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

.signin-link a:hover {
    color: #00796b;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-buttons button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #f4f6f9;
    color: #333; /* Default font color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-buttons button.active {
    background-color: #009688;
    color: #fef9f9; /* New font color for active button */
    font-weight: bold;
}
